<h1><%= @minute.title %></h1>

<p>
  <%= @minute.name %>
  /
  <%= @minute.place %>
  /
  <%= @minute.scheduled_at %>
</p>

<table>
<tbody>
<% @minute.articles.each do |article| %>
<tr>
  <td>
    <%= article.type.name %>
  </td>
  <td>
    <%#= simple_format(article.content) %>
    <%= raw hbr(article.content) %>
  </td>
  <td>
    <%= article.created_at.strftime("%m/%d %H:%M") %>
  </td>
</tr>
<% end %>
</tbody>
</table>

<% if flash[:warning] or flash[:notice] %>
<p class="notice"><%= notice %></p>
<% end %>
<p>
<%= render 'form_article' %>
</p>
<%= link_to 'Edit', edit_minute_path(@minute) %> |
<%= link_to 'Back', minutes_path %>
