<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @minute.title %>
</p>

<p>
  <b>Name:</b>
  <%= @minute.name %>
</p>

<p>
  <b>Place:</b>
  <%= @minute.place %>
</p>

<p>
  <b>Scheduled at:</b>
  <%= @minute.scheduled_at %>
</p>

  <p>
  <dl>
<% @minute.articles.each do |article| %>
    <li>
    <%= article.content %><br />(<%= article.created_at %>)
    </li>
<% end %>
  </dl>
  </p>

<%= link_to 'Add Article', new_article_path %> |
<%= link_to 'Edit', edit_minute_path(@minute) %> |
<%= link_to 'Back', minutes_path %>
