<h1><%= @minute.title %></h1>

<p>
  <%= @minute.attendee %><br />
  <%= @minute.place %><br />
  <%= @minute.scheduled_at %>
</p>

<table>
<tbody>
<% @minute.articles.each do |article| %>
<tr>
  <% if article.type.name != "Theme" %>
  <td>
    <%= article.type.name %>
  </td>
  <td>
    <%#= simple_format(article.content) %>
    <%= hbr(article.content).html_safe %>
  </td>
  <td>
    <%= article.created_at.strftime("%m/%d %H:%M") %>
  </td>
  <% else %>
  <th colspan="3">
    <h2><%= hbr(article.content).html_safe %></h2>
  </th>
  <% end %>
</tr>
<% end %>
</tbody>
</table>

<% if flash[:warning] or flash[:notice] %>
<p class="info"><%= notice %></p>
<% end %>
<p>
<%= render 'minutes/form_article' %>
</p>
