<p id="notice"><%= notice %></p>

<h1><%= @minute.title %></h1>

<p>
  <%= @minute.name %>
  /
  <%= @minute.place %>
  /
  <%= @minute.scheduled_at %>
</p>

<p>
  <ul>
<% @minute.articles.each do |article| %>
    <li>
    <%= simple_format(article.content) %>
    <span class="small">(<%= article.created_at %>)</span>
    </li>
<% end %>
  </ul>
</p>

<p>
<h2>Add Article from here.</h2>
<%= render 'form_article' %>
</p>

<%= link_to 'Add Article', new_article_path %> |
<%= link_to 'Edit', edit_minute_path(@minute) %> |
<%= link_to 'Back', minutes_path %>
