<!DOCTYPE html>
<html>
<head>
  <title>Gijiroku</title>
  <%= stylesheet_link_tag    "blueprint/screen", {:media=>"screen, projection"} %>
  <%= stylesheet_link_tag    "blueprint/print", {:media=>"print"} %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag    "blueprint/ie", {:media=>"screen, projection"} %>
  <![endif]-->
  <%= stylesheet_link_tag "gijiroku" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
<div class="prepend-1 span-18 prepend-top border">
<% if ! notice.nil? %>
<p class="notice"><%= notice %></p>
<% end %>
<% if ! alert.nil? %>
<p class="alert"><%= alert %></p>
<% end %>
<%= yield %>
<%= link_to "Home", root_path %>
</div>
</div>
</body>
</html>
