<!DOCTYPE html>
<html>
<head>
  <title>Gijiroku</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container clearfix">
<div class="header"> 
  <h1>Gijiroku</h1>
  <p class="headersub"> Minutes taking application.</p>
</div>
<div class="grid9 first"> 
  <% if ! notice.nil? %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <%= yield %>
</div>
<div class="grid3">
  <%= link_to "Minutes", root_path %> <br /> 
  <%= link_to "New Minutes", new_minute_path %> <br /> 
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete if user_signed_in? %> <br/>
  <%= link_to "Sign in", user_session_path unless user_signed_in? %><br/>
</div>
<div class="first footer"> 
Copyright 2012 Yuki Ueda all rights reserved. 
</div>
</div>
</body>
</html>
